.mat-tab-group {
    margin-bottom: 48px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .myclass
  {
    text-align: -webkit-center;
    margin: auto;
    width: 50%;
    padding: 170px;
    vertical-align: middle;
  }